@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

    body {
        margin: 0;
        padding: 0;
        background-color: #D0D0D0;
        font-family: 'Overpass', sans-serif;
        color: white;
    }
    h1 {
        font-size: 22.5px;
    }
    p {
        font-size: 12px;
    }
    #contour {
        background-color:white;
        position: relative;
        height: 694px;
        width: 1156px;
        margin: 10px 0 0 190px;
    }
    #para {
        color: #CBE1DD;
        font-size: 14px;
    }
    #bradley {
        position: absolute;
        left: 190px;
        top: 10px;
        height: 231.3px;
        width: 462.6px;
        background-color: #35BC7A;
        padding-top: 40px;
        padding-left: 30px;
        line-height: 22px;

    }
    #profile {
        position: absolute;
        left: 652.6px;
        top: 10px;
        height: 231.3px;
        width: 231.3px;
        background-color: #FF9E00;
        text-align: center;
        padding-top: 75px;
        line-height: 11px;
    }
    #experience {
        position: absolute;
        left: 190px;
        top: 241.3px;
        height: 231.3px;
        width: 231.3px;
        background-color: #1E8BC4;
    }
    #social {
        position: absolute;
        left: 190px;
        top: 472.6px;
        height: 231.3px;
        width: 231.3px;
        background-color: #F86925;
    }
    #education {
        position: absolute;
        left: 421.3px;
        top: 241.3px;
        height: 231.3px;
        width: 231.3px;
        background-color: #F15A49;
    }
    #contact {
        position: absolute;
        left: 421.3px;
        top: 472.6px;
        height: 231.3px;
        width: 231.3px;
        background-color: #1E8BC4;
    }
    #blog {
        position: absolute;
        left: 652.6px;
        top: 241.3px;
        height: 231.3px;
        width: 231.3px;
        background-color: #35BC7A;
    }
    #portfolio {
        position: absolute;
        left: 652.6px;
        top: 472.6px;
        height: 231.3px;
        width: 231.3px;
        background-color: #F86925;
    }
    #homme {
        position: absolute;
        left: 883.9px;
        top: 10px;
        height: 693.9px;
        width: 462.6px;
        background-color: #F86925;
    }