
    body {
        margin: 0;
        padding: 0;
        background-color: #D0D0D0;
    }
    #contour {
        background-color:white;
        position: relative;
        height: 694px;
        width: 1156px;
        margin: 10px 0 0 190px;
    }
    #bradley {
        position: absolute;
        left: 190px;
        top: 10px;
        height: 231.3px;
        width: 462.6px;
        background-color: #35BC7A;
        color: white;
        font-size: 15px;
    }
    #profile {
        position: absolute;
        left: 652.6px;
        top: 10px;
        height: 231.3px;
        width: 231.3px;
        background-color: #FF9E00;
        color: white;
        font-size: 15px;
    }
    #experience {
        position: absolute;
        left: 190px;
        top: 241.3px;
        height: 231.3px;
        width: 231.3px;
        background-color: #1E8BC4;
        color: white;
        font-size: 15px;
    }
    #social {
        position: absolute;
        left: 190px;
        top: 472.6px;
        height: 231.3px;
        width: 231.3px;
        background-color: #F86925;
        color: white;
        font-size: 15px;
    }
    #education {
        position: absolute;
        left: 421.3px;
        top: 241.3px;
        height: 231.3px;
        width: 231.3px;
        background-color: #F15A49;
        color: white;
        font-size: 15px;
    }
    #contact {
        position: absolute;
        left: 421.3px;
        top: 472.6px;
        height: 231.3px;
        width: 231.3px;
        background-color: #1E8BC4;
        color: white;
        font-size: 15px;
    }